Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.opensdf
Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.sdf
Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.v12.suo
Build/
UserInterfaceState.xcuserstate
