Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.opensdf
Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.sdf
Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.v12.suo
Build/
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
Source/ThirdParty/googletest/msvc/gtest/Debug/
Source/ThirdParty/googletest/msvc/gtest.opensdf
Source/ThirdParty/googletest/msvc/gtest.sdf
Source/ThirdParty/googletest/msvc/gtest.v12.suo
*.jbf
Script/Msvc/AmjulaMusicTheory/.vs/
Assets/Maya/.mayaSwatches/
Assets/obj/.mayaSwatches/
Assets/Music/SoundFXSource/*.wav
*.user
