Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.opensdf
Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.sdf
Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory.v12.suo
Build/
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
Source/ThirdParty/googletest/msvc/gtest/Debug/
Source/ThirdParty/googletest/msvc/gtest.opensdf
Source/ThirdParty/googletest/msvc/gtest.sdf
Source/ThirdParty/googletest/msvc/gtest.v12.suo
*.jbf
Script/Msvc/AmjulaMusicTheory/.vs/
Assets/Maya/.mayaSwatches/
Assets/obj/.mayaSwatches/
Assets/Music/SoundFXSource/*.wav
*.user
*.o
Source/MakeScore/out.txt
Script/Msvc/AmjulaMusicTheory/MakeScore/x64/Debug/
*.exe
*.pdb
/Script/Msvc/AmjulaMusicTheory/MakeScore/x64
/Script/Msvc/AmjulaMusicTheory/CatchTests/x64
/Script/Msvc/AmjulaMusicTheory/MakeScore_CatchTests/x64
Assets/Gui/scoretest_temp.txt
Assets/Mac/libbass.dylib
Assets/Mac/libbassmidi.dylib
Assets/Mac/macgame
Script/iOS/Amjula Music Theory/Amjula Music Theory.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Script/iOS/Amjula Music Theory/Amjula Music Theory.xcodeproj/xcuserdata/juliet.xcuserdatad/xcschemes/xcschememanagement.plist
.~lock.hero-game-rounds.csv#
Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory/AmjulaMusicTheory.vcxproj.user
secrets
build.log
fixed.csv
glue.log
/Script/Msvc/AmjulaMusicTheory/MidiScore/x64
Assets/Songs/Tools/__pycache__
Tools/__pycache__
Source/MakeScore/makescore
Source/MidiScore/midiscore
Tools/libbass.dylib
Tools/libbassmidi.dylib
Tools/listen
Tools/makescore
Tools/midiscore
twinkle_out.txt
Tools/Sound/Colin_s_Double_Bass.sf2
Tools/Sound/Jazz Kit.sf2
Tools/Sound/steinway_concert_piano.sf2
Source/MakeScore/Examples/out.txt
/Script/Msvc/AmjulaMusicTheory/AmjulaMusicTheory/x64
/Script/Msvc/AmjulaMusicTheory/x64
/Script/Msvc/AmjulaMusicTheory/CatchTests/Release
/Script/Msvc/AmjulaMusicTheory/MakeScore_CatchTests/Release
/Script/Msvc/AmjulaMusicTheory/MidiScore/Release
